body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}

#track-control button {
    margin: 10px;
    padding: 2em 3em;
    font-size: 2rem;
    cursor: pointer;
}

#volume-control button {
    margin: 10px;
    padding: 1em 6.1em;
    font-size: 2rem;
    cursor: pointer;
}

#result {
    margin-top: 50px;
    font-size: 2rem;
}

.disabled {
    background-color: rgb(255, 127, 127);
    cursor: not-allowed !important;
}